<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.ecommerce.mapper.OrderMapper">

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order`(user_id, total_amount, status)
        VALUES(#{userId}, #{totalAmount}, #{status})
    </insert>
    <select id="selectOrderById" resultType="com.example.ecommerce.entity.Order">
        SELECT * FROM `order`
        WHERE id = #{orderId}
    </select>

</mapper>
